html{
    font-size: 62.5%;
}

*{
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
    color: white;

}
body{
    background-color: #0B132B;
}

.flex-container{
    display: flex;
    justify-content: left;
    height: 6vh;
    align-items: center;
    margin-top: 2rem;
    background-color: #5bc0be;
}

/*Aplicar estilos a  todo lo que contiene ul*/
.flex-container ul{
    display: flex;
    list-style-type: none;
    font-size: 2rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,50rem);
    grid-template-rows: repeat(4,30rem);
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
}

.grid-items{
    background-color: #3A506B;
    border-radius: 2rem;

}

#principal{
    grid-column-start: 1;
    grid-column-end:3 ;
    grid-row-start:1 ;
    grid-row-end:3 ;
}
#videoPrincipal{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

}

#principal h2{
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

#notSec1{
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:3 ;
    grid-row-end:4 ;
    
}

#notSec1 h3{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
#notSec1 a{
    text-decoration: none;
}
#notSec1 img{
    height:240px;
    width:500px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

#notSec2{
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:4 ;
    grid-row-end:5 ;
}

#tablaPos{
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:3 ;
    grid-row-end:5 ;
}





/*Se le asignan margenes a los textos dentro de <a>*/
ul li{
    margin: 3rem;
}

/*Estilos de a*/
ul li a{
    text-decoration: none;
    color: white;
}

/*Logo */
.logo{
    height: 8vh;
    width: 6vw;
    margin: 3rem;
   
}

footer{
    background-color: #5bc0be;
    color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 2rem;
    height: 20rem;
    margin-top: 5rem;
}
#logos{
    /* Aplica estilo a los logos de la redes sociales */
    margin: 3rem;
    font-size: 2rem;
    text-align: left;
}

.logo_footer{
    height: 8vh;
    width: 6vw;
    margin:1rem auto;
    display:block;
}

.flex_container_footer{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}

.div_2 a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
}


/*Animaciones*/
.nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #1C2541;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav ul li:hover::after{
    width: 100%;
}

/****** Continuar   ******/